<add key="mykey1" value={{mykey1}} />
<add name="mykey2" 
            connectionString={{mykey2}}/>
<add name="an-ip-address" hostAddress={{an-ip-address}}/>
<add key="mykey3" 







value={{mykey3}} />
<add name="an_int" 



            connectionString={{an_int}} />
<add name="System.Thing" value="System.Thing"/>
<add key="mykey5" value={{mykey5}} />
<add name="mykey6" 
            connectionString={{mykey6}}/>
<add name="someEndpoint" hostAddress={{someEndpoint}}/>